manual/AcceleratorLattice.lof
manual/AcceleratorLattice.log
manual/AcceleratorLattice.lot
manual/AcceleratorLattice.out
manual/AcceleratorLattice.toc
manual/AcceleratorLattice.pdf
manual/AcceleratorLattice.idx
manual/AcceleratorLattice.run.xml
manual/AcceleratorLattice.bbl
manual/AcceleratorLattice.bcf
manual/AcceleratorLattice.blg
manual/*.aux
docs/build/
/Manifest.toml
.DS_Store
.vscode
test.jl
z.jl
*~
